.addform{
    margin-top: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 5.04%, rgba(66, 66, 66, 0) 100%);
    box-shadow:inset 0px 0px 0px 3px rgba(255, 255, 255, 0.023);
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.183);
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 10px;
}

.description > input {
    background-color: rgba(255, 255, 255, 0.174);
    border: none;
    height: 30px;
    color: white;
}

.selectCountry {
    margin:30px;
    padding: 20px;
    background-color: black;
    display: grid;
    position: absolute;
    top:0;
    left: 0;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    text-align: left;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid white;
}

.selectbutton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.673);
    border: 1px solid rgba(255, 255, 255, 0.475);
    color: white;
    font-size: 40px;
    text-align: center;
    text-justify: center;
    overflow-y: hidden;
    font-weight: 200;
}

.countries {
    text-align: left;
    margin: 10px
}

.countries > h3 {
    margin: 0;
    padding:0;
}

.ul {
    text-decoration: none;
    list-style: lower-greek;
}

.countries > button {
    font-family: 'Merriweather', serif;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.249);
    border: 1px solid rgba(255, 255, 255, 0.127);
}

.addform > button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
    width: 50%;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.673);
    border: 1px solid rgba(255, 255, 255, 0.475);
}

.messages {
    width: 90%;
    color: white;
    padding: 10px;
    background-color: rgba(194, 80, 80, 0.405);
    border: 1px solid red;
}

.success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border: 1px solid green;
    width: 50%;
    padding:40px;
    background-color: rgba(103, 194, 80, 0.405);
}