.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.title {
  text-align: left;
  margin: 20px;
  border-bottom: 1px solid white;
}

.options {
  text-align: left;
  padding-bottom: 16px;
  margin-left: 25px;
}

.options:hover {
  cursor: pointer;
}
