.searchbar {
    width: 99%;
    display: grid;
    grid-template-columns: 6fr 3fr;
}
.searchbar > form > input{
    text-decoration: none;
    text-align: center;
    outline: none;
    color: white;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.085);
    border-left: 0.5px solid rgba(255, 255, 255, 0.085);
    background-color: transparent;
    width: 100%;
    font-size: 1.5rem;
    padding:15px 0px 10px 0px;
}

.botones {
    display: flex;
    align-items: center;
}

.botones > select {
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border:  0.5px solid rgba(255, 255, 255, 0.085);
    height: 100%;
}

