@font-face {
  font-family: gaboFont;
  src: url("../../assets/gaboFont.otf") format("opentype");
}

.landing {
  font-family: gaboFont;
  width: 100%;
  height: 1000px;
  background: url("../../assets/bg2.png");
  background-size: cover;
  display: flex;
}

.content {
  margin: 100px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-decoration: none;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.303);
}

a {
  text-decoration: none;
  color: white;
}
